

.main {
    font-family: Arial, Helvetica, sans-serif; 
    margin: 20px; 
    padding: 10px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


table {
    width: 100%; 
    border-collapse: collapse;
    margin: 20px 0;
    min-width: 600px;
}

th, td {
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: center; 
}

th {
    background-color: #04AA6D; 
    color: white; 
}

tr:hover {
    background-color: #e9e9e9;
}


input[type="text"] {
    padding: 8px;
    width: 300px; 
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    font-weight: bold;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #059862; 
}

a {
    text-decoration: none; 
    font-weight: bold;
}


.btn {
    text-decoration: none; 
    padding: 6px 12px;     
    border-radius: 5px;    
    color: white;         
    font-weight: bold;     
    font-size: 13px;
    margin: 2px;     
    display: inline-block; 
    transition: 0.3s;      
}
.btn-xem{ background-color: #0026ff; border: 1px solid #0026ff; }
.btn-sua, .btn-huy { background-color: #ff9800; border: 1px solid #e68a00; }
.btn-xoa { background-color: #f44336; border: 1px solid #d32f2f; }

.btn:hover { opacity: 0.8; }


@media screen and (max-width: 768px) {
    .main {
        margin: 10px;
        padding: 5px;
    }
    
    input[type="text"] {
        width: 100%;
    }

   
    
}