header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1000;

}

.logo{
    flex: 0.5;
    padding-top: 3px;
}
.logo img{
    width: 100%;
   
}
.menu{
    flex: 3;
    display: flex;
    justify-content: space-around;
}
.menu > li{
    padding: 0 12px;
    position: relative;
    transition: all 0.3s ease;
}
.menu > li:hover{
    background-color:#5cbbb6c9;
    border-radius: 12px;
}
.menu >li:hover >a{
    color: white;
    
}
.menu > li:hover .sub_menu{
    visibility: visible;
    
   
}
.sub_menu{
    position: absolute;
    width: max-content;
    border: 1px solid;
    border-radius: 12px;
    padding: 10px 20px 20px 20px;
    visibility: hidden;
    background-color: rgb(206, 184, 161);
    transition: 0.3s;
    left: -10px;
    text-align: start;
}

.sub_menu li a{
    font-weight: bold;
    font-size: 20px;
     width: 100%;
     
}
.menu > li > a, .menu > li > p{
    font-size: 19px;
    font-weight: bold;
    display: block;
    line-height: 50px;
    
}

.others{
    flex: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.others > li{
    padding: 0 20px;
}
.others > li:first-child{
    position: relative;
    flex-grow: 1;
}
.others > li:first-child input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 8px;
    
}
.others > li:first-child img{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    
}
.others > li img{
    
    width: 40px;
    height: 40px;
}
@media (max-width: 1024px) {
    header {
        
        
        height: auto;
        margin-top: 0px;
    }
    
    .menu > li > a, .menu > li > p {
        font-size: 13px;
    }
    .others > li img{
    
    width: 30px;
    height: 30px;
}
.others > li:first-child input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid;
    border-radius: 8px;
    
}

    
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        height: auto;
        margin-top: 0px;
    }

    .logo, .menu, .others {
        flex: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .logo img {
        width: 120px;
        margin: 0 auto;
    }
    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .menu > li {
        padding: 5px 10px;
    }
    
    .menu > li > a, .menu > li > p {
        font-size: 14px;
        line-height: 30px;
    }

    .sub_menu{
        z-index: 9999;
        
    }
    .sub_menu li a{
        font-weight: bold;
        font-size: 14px;
        
    }
    
    .menu > li:hover .sub_menu {
        display: block;
    }

    .others {
        justify-content: center;
        gap: 15px;
    }
    
    .others > li:first-child {
        width: 60%;
    }
}