* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
   
}
li{
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.banner_km{
    height: 700px;
    margin: 50px 100px 30px 100px;
    background-color: antiquewhite;
    border-radius: 40px;
}
.banner_km img{
    height: 100%;
    width: 100%;
    border-radius: 40px;
    
}
.banner_spm{
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0 ;
    
    
}
.banner_spm img{
    width: 700px;
    height: 200px;
    
}
@media (max-width: 1024px) {
    .banner_km {
        height: 400px;
        margin: 30px 20px;
    }
}

@media (max-width: 768px) {
    .banner_km {
        height: auto;
        min-height: 200px;
        margin: 20px 15px;
        border-radius: 15px;
    }
    .banner_km img {
        border-radius: 15px;
    }
    .banner_spm img {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }
}





